body {
    background-color:rgb(0, 192, 192);
}

header {
    color:black;
    font-size: 12vw;
    text-align: center;
    text-shadow: 1px 1px darkorange;
    font-family: 'Exo', sans-serif;
}

footer {
    color: black;
    font-family:'Montserrat', sans-serif;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.container-1 {
    background-color: #270033;
    border:darkorange solid;
    color: darkorange;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin: 5px;
}

.container-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    background-color: #1c87c9;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    border: none;
    color: #270033;
    cursor: pointer;
    display: inline-block;
    font-family: 'Exo', sans-serif;
    font-size: 20px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    animation: glowing 1300ms infinite;
}

.icons {
    color:darkorange;
    text-shadow: 2px 2px #270033;
}

.input {
    text-align: center;
}

.output-city {
    display:contents;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.89);
    background-color: darkorange;
    color: rgb(0, 192, 192);
    font-family: 'Exo', sans-serif;
    font-size: 2vw;
    text-align: center;
    text-shadow: 1px 1px 3px #000000;
    width: 25vw;
}

.output-forecast {
    background-color:rgb(0, 192, 192);
    border: #270033;
    color: #270033;
    display: flex;
    flex-basis: 100%;
    flex-wrap:wrap;
    flex-direction: column;
    font-family: 'Exo', sans-serif;
    justify-content: space-evenly;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.playlist {
    align-content: center;
    border:rgb(0, 192, 192);
    box-shadow: 0 0 2vw rgb(0, 192, 192);
    padding: .1vw .1vh;
    margin: 10px;
}

.text {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw;
    padding: 10px;
}

@keyframes glowing {
    0% {
        background-color:  rgb(0, 192, 192);
        box-shadow: 0 0 3px darkorange;
    }
    50% {
        background-color:  rgb(0, 192, 192);
        box-shadow: 0 0 10px darkorange;
    }
    100% {
        background-color:  rgb(0, 192, 192);
        box-shadow: 0 0 3px darkorange;
    }
}

/*class for the borders*/
.mix {
    border-style: dotted dashed solid double;
}

/*media query*/

@media(min-width:800px) {
.container-1{
    flex-wrap:nowrap;
 
}
}

@media(min-width:1150px) {
.text{
    font-size: 39px;
}
}

